    {{#each this}}
          <div class="container-fluid all-posts my-5">
            <div class="row">
              <div class="col-1"></div>
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">{{comment_content}}</p>
                  </div>
                  <div class="card-header text-right">
                    <p class="card-text">{{user.username}} on {{format_date date_created}}</p>
                  </div>
                </div>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
          {{/each}}