
        <div class="d-flex justify-content-center my-4">
            <a href="/dashboard" class="link-secondary">Dashboard</a>
        </div>
        <div class="d-flex justify-content-center my-4">
            <h3>Create Post</h3>
        </div>
        <div class="d-flex justify-content-center my-4">
            <form class="new-post-form">
                <div class="form-group">
                    <label for="postTitle">Title</label>
                    <input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="Post Title">
              </div>  
              <div class="form-group">
                <label for="postContent">Content</label>
                <input type="text" class="form-control" id="postContent" name="postContent" placeholder="Post Content">
              </div>
                <button type="submit" class="btn btn-dark">Create!</button>
            </form>
        </div>

        <script src="/js/create-post.js"></script>