
   
        <div class="d-flex justify-content-center my-4">
            <h3>Edit Post</h3>
        </div>
        <div class="d-flex justify-content-center my-4">
            <h5>Created on {{format_date post.date_created}}</h5>
        </div>
        <div class="d-flex justify-content-center my-4">
            <form class="edit-post-form">
                <div class="form-group">
                    <label for="postTitle">Title</label>
                    <input type="text" class="form-control" id="postTitle" name="postTitle" value="Post {{post.title}}">
              </div>  
              <div class="form-group">
                <label for="postContent">Content</label>
                <input type="text" class="form-control" id="postContent" name="postContent" rows="3" value="{{post.content}}">
              </div>
                <button type="submit" class="btn btn-dark">Save</button>
                <button type="button" class="btn btn-danger delete-post-btn">Delete</button>
            </form>
        </div>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>