<div class="d-flex justify-content-center my-4">
<form class="loginForm">
    <div class="form-group">
        <label for="emailLogin">Email</label>
            <input type="text" class="form-control" placeholder="Example@example.com" id="emailLogin">
        </div>
    <div class="form-group">
        <label for="passwordLogin">Password</label>
            <input type="password" class="form-control" placeholder="P@ssw0rD" id="passwordLogin">
    </div>
        <button type="submit" class="btn btn-dark">Log In</button>
        <a href="/signup">
        <button type="button" class="btn btn-info">Sign Up</button>
        </a>
</form>
</div>

<script src="/js/login.js"></script>