<div class="d-flex justify-content-center my-4">
    <h3>Sign Up</h3>
</div>
<div class="d-flex justify-content-center my-4">
    <form class="signupform">
        <div class="form-group">
              <label for="nameSignup">Username</label>
              <input type="text" class="form-control" placeholder="CoolGuy101" id="nameSignup">
        </div>  
        <div class="form-group">
              <label for="emailSignup">Email</label>
              <input type="text" class="form-control" placeholder="Example@example.com" id="emailSignup">
        </div>
        <div class="form-group">
              <label for="passwordSignup">Password</label>
              <input type="password" class="form-control" placeholder="P@ssw0rD" id="passwordSignup">
        </div>
        <button type="submit" class="btn btn-dark">Sign Up!</button>
    </form>
</div>

<script src="/js/signup.js"></script>